* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-image: linear-gradient(to bottom right, rgb(163, 107, 232), rgb(255, 174, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
    background-color: #fff;
    max-width: 90%;
    width: 400px;
    text-align: center;
}

.calculator-heading {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: #333;
   /* background: linear-gradient(to right, #ff5f6d, #ffc371);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    padding: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.calculator-heading::before,
.calculator-heading::after {
    content: '🔢';
    display: inline-block;
    font-size: 2rem;
    margin: 0 10px;
}

.calculator-heading::before {
    transform: rotateY(20deg);
}

.calculator-heading::after {
    transform: rotateY(-20deg);
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: calc(100% - 20px);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
}

.calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
  }
  
  /* Style the button used to pause/play the video */
  /*#myBtn {
    width: 80px;
    font-size: 14px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }  